@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto';
}

img{
    width: 170px;
    height: auto;
    padding-bottom: 10px;
}

.header{
    text-align: center;
    color: #007c5f;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
    background-color: #084c3c;
    min-height: 200px;
    padding-bottom: 20px;
}

h2{
    padding-bottom: 12px;
    border-bottom:2px solid black;
}

.order-cards{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #ffff;
    min-width: 600px;
    min-height: auto;
}

.card:hover {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.6);
  }

.card-header{
    text-align: center;
}

.content{
    display: flex;
    justify-content:space-evenly;
}

.content-left{
    display: flex;
    flex-direction: column;
}

.content-right{
    display: flex;
    flex-direction: column;
}

h4{
    max-height: 1px;
    font-size: medium;
}

p{
    font-size: 14px;
}

p:empty{
    display: none;
}

.button{
    text-align: center;
    padding-bottom: 8px;
}

.table-container{
    display: flex;
    justify-content: center;
}

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1500px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    margin: 20px 0px;
    padding: 20px;
}

th{
    color: #ffff;
    background-color: #084c3c;
}

tr:nth-child(even){
    background-color: rgb(242, 242, 242);
}